<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.uconn.guarddogs.guardthebridge"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10"/>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".LogintoBridge" android:screenOrientation="landscape" android:label="@string/app_name">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GuardtheBridge" android:label="@string/app_name" />
        <activity android:name="edu.uconn.guarddogs.guardthebridge.CarNumList"/>
        <activity android:name="edu.uconn.guarddogs.guardthebridge.ShowPatron" android:label="@string/showpatron_label"/>
        <activity android:name="edu.uconn.guarddogs.guardthebridge.EditPatron" android:label="@string/editpatron_label"/>
    </application>
</manifest> 
